@charset "UTF-8";

/*!!
 *
 * bttn.css - https://ganapativs.github.io/bttn.css
 * Version - 0.1.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Ganapati V S(@ganapativs)
 *
 * Repo: https://github.com/ganapativs/bttn.css
 * Demo: https://bttn.surge.sh
 *
 */

/* Base styles */
@import "./config/config.styl"
@import "./config/bttn-base.styl"

/* Buttons */
@import "./bttns/simple.styl"
@import "./bttns/bordered.styl"
@import "./bttns/gradient.styl"
@import "./bttns/minimal.styl"
@import "./bttns/stretch.styl"
@import "./bttns/jelly.styl"
@import "./bttns/fill.styl"
@import "./bttns/material-circle.styl"
@import "./bttns/material-flat.styl"
@import "./bttns/pill.styl"

/* Helpers */
.bttn-block
  display block
  width 100%