.bttn-default {
  color: #fff;
}
.bttn-primary,
.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-xs {
  color: #1d89ff;
}
.bttn-warning {
  color: #feab3a;
}
.bttn-danger {
  color: #ff5964;
}
.bttn-success {
  color: #28b78d;
}
.bttn-royal {
  color: #bd2df5;
}
.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-xs {
  margin: 0;
  padding: 0;
  outline: none;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
}
.bttn-lg {
  padding: 8px 15px;
  font-size: 24px;
  font-family: inherit;
}
.bttn-md {
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
}
.bttn-sm {
  padding: 4px 10px;
  font-size: 16px;
  font-family: inherit;
}
.bttn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: inherit;
}
.bttn-simple,
.bttn-gradient {
  margin: 0;
  padding: 0;
  outline: none;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
  border-width: 0;
  border-radius: 4px;
  background: rgba(255,255,255,0.4);
  color: #fff;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.bttn-simple:hover,
.bttn-gradient:hover,
.bttn-simple:focus,
.bttn-gradient:focus {
  opacity: 0.75;
}
.bttn-simple.bttn-xs,
.bttn-gradient.bttn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: inherit;
}
.bttn-simple.bttn-sm,
.bttn-gradient.bttn-sm {
  padding: 4px 10px;
  font-size: 16px;
  font-family: inherit;
}
.bttn-simple.bttn-md,
.bttn-gradient.bttn-md {
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
}
.bttn-simple.bttn-lg,
.bttn-gradient.bttn-lg {
  padding: 8px 15px;
  font-size: 24px;
  font-family: inherit;
}
.bttn-simple.bttn-default,
.bttn-gradient.bttn-default {
  background: rgba(255,255,255,0.4);
}
.bttn-simple.bttn-primary,
.bttn-gradient.bttn-primary {
  background: #1d89ff;
}
.bttn-simple.bttn-warning,
.bttn-gradient.bttn-warning {
  background: #feab3a;
}
.bttn-simple.bttn-danger,
.bttn-gradient.bttn-danger {
  background: #ff5964;
}
.bttn-simple.bttn-success,
.bttn-gradient.bttn-success {
  background: #28b78d;
}
.bttn-simple.bttn-royal,
.bttn-gradient.bttn-royal {
  background: #bd2df5;
}
.bttn-gradient {
  color: #1d89ff;
  border-radius: 100px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #d6e3ff));
  background-image: -o-linear-gradient(bottom, #fff 0%, #d6e3ff 100%);
  background-image: -moz-linear-gradient(bottom, #fff 0%, #d6e3ff 100%);
  background-image: -ms-linear-gradient(bottom, #fff 0%, #d6e3ff 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #d6e3ff 100%);
  background-image: -webkit-linear-gradient(93deg, #d6e3ff 0%, #fff 100%);
  text-shadow: 0 0.5px #3a3335;
}
.bttn-gradient.bttn-default {
  color: #1d89ff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #d6e3ff));
  background-image: -o-linear-gradient(bottom, #fff 0%, #d6e3ff 100%);
  background-image: -moz-linear-gradient(bottom, #fff 0%, #d6e3ff 100%);
  background-image: -ms-linear-gradient(bottom, #fff 0%, #d6e3ff 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #d6e3ff 100%);
  background-image: -webkit-linear-gradient(93deg, #d6e3ff 0%, #fff 100%);
}
.bttn-gradient.bttn-primary {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00bbd4), color-stop(1, #3f51b5));
  background-image: -o-linear-gradient(bottom, #00bbd4 0%, #3f51b5 100%);
  background-image: -moz-linear-gradient(bottom, #00bbd4 0%, #3f51b5 100%);
  background-image: -ms-linear-gradient(bottom, #00bbd4 0%, #3f51b5 100%);
  background-image: linear-gradient(to bottom, #00bbd4 0%, #3f51b5 100%);
  background-image: -webkit-linear-gradient(93deg, #3f51b5 0%, #00bbd4 100%);
}
.bttn-gradient.bttn-warning {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #feab3a), color-stop(1, #f35626));
  background-image: -o-linear-gradient(bottom, #feab3a 0%, #f35626 100%);
  background-image: -moz-linear-gradient(bottom, #feab3a 0%, #f35626 100%);
  background-image: -ms-linear-gradient(bottom, #feab3a 0%, #f35626 100%);
  background-image: linear-gradient(to bottom, #feab3a 0%, #f35626 100%);
  background-image: -webkit-linear-gradient(93deg, #f35626 0%, #feab3a 100%);
}
.bttn-gradient.bttn-danger {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff97c2), color-stop(1, #e91e63));
  background-image: -o-linear-gradient(bottom, #ff97c2 0%, #e91e63 100%);
  background-image: -moz-linear-gradient(bottom, #ff97c2 0%, #e91e63 100%);
  background-image: -ms-linear-gradient(bottom, #ff97c2 0%, #e91e63 100%);
  background-image: linear-gradient(to bottom, #ff97c2 0%, #e91e63 100%);
  background-image: -webkit-linear-gradient(93deg, #e91e63 0%, #ff97c2 100%);
}
.bttn-gradient.bttn-success {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9ccc65), color-stop(1, #009688));
  background-image: -o-linear-gradient(bottom, #9ccc65 0%, #009688 100%);
  background-image: -moz-linear-gradient(bottom, #9ccc65 0%, #009688 100%);
  background-image: -ms-linear-gradient(bottom, #9ccc65 0%, #009688 100%);
  background-image: linear-gradient(to bottom, #9ccc65 0%, #009688 100%);
  background-image: -webkit-linear-gradient(93deg, #009688 0%, #9ccc65 100%);
}
.bttn-gradient.bttn-royal {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9c27b0), color-stop(1, #512da8));
  background-image: -o-linear-gradient(bottom, #9c27b0 0%, #512da8 100%);
  background-image: -moz-linear-gradient(bottom, #9c27b0 0%, #512da8 100%);
  background-image: -ms-linear-gradient(bottom, #9c27b0 0%, #512da8 100%);
  background-image: linear-gradient(to bottom, #9c27b0 0%, #512da8 100%);
  background-image: -webkit-linear-gradient(93deg, #512da8 0%, #9c27b0 100%);
}
.bttn-minimal {
  margin: 0;
  padding: 0;
  outline: none;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
  border-width: 0;
  border-radius: 4px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.bttn-minimal:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 7px;
  width: calc(100% - 14px);
  height: 1px;
  opacity: 0.65;
  background: currentColor;
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.bttn-minimal:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 7px;
  width: calc(100% - 14px);
  height: 1px;
  opacity: 0.65;
  background: currentColor;
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.bttn-minimal:hover,
.bttn-minimal:focus {
  opacity: 0.9;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.bttn-minimal:hover:after,
.bttn-minimal:focus:after {
  opacity: 1;
  transform: translateX(-7px) rotate(0.001deg);
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.bttn-minimal:hover:before,
.bttn-minimal:focus:before {
  opacity: 1;
  transform: translateX(7px) rotate(0.001deg);
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.bttn-minimal.bttn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: inherit;
}
.bttn-minimal.bttn-sm {
  padding: 4px 10px;
  font-size: 16px;
  font-family: inherit;
}
.bttn-minimal.bttn-md {
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
}
.bttn-minimal.bttn-lg {
  padding: 8px 15px;
  font-size: 24px;
  font-family: inherit;
}
.bttn-minimal.bttn-default {
  color: #fff;
}
.bttn-minimal.bttn-primary {
  color: #1d89ff;
}
.bttn-minimal.bttn-warning {
  color: #feab3a;
}
.bttn-minimal.bttn-danger {
  color: #ff5964;
}
.bttn-minimal.bttn-success {
  color: #28b78d;
}
.bttn-minimal.bttn-royal {
  color: #bd2df5;
}
.bttn-stretch {
  margin: 0;
  padding: 0;
  outline: none;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
  border-width: 0;
  border-radius: 0;
  background: transparent;
  color: #fff;
  letter-spacing: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.bttn-stretch:after,
.bttn-stretch:before {
  content: '';
  position: absolute;
  left: 50%;
  width: 0;
  height: 1px;
  opacity: 0.65;
  background: currentColor;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.bttn-stretch:after {
  top: 0;
}
.bttn-stretch:before {
  bottom: 0;
}
.bttn-stretch:hover,
.bttn-stretch:focus {
  letter-spacing: 2px;
  opacity: 0.9;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.bttn-stretch:hover:after,
.bttn-stretch:focus:after {
  opacity: 1;
  left: 0;
  width: 100%;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.bttn-stretch:hover:before,
.bttn-stretch:focus:before {
  opacity: 1;
  left: 0;
  width: 100%;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.bttn-stretch.bttn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: inherit;
}
.bttn-stretch.bttn-sm {
  padding: 4px 10px;
  font-size: 16px;
  font-family: inherit;
}
.bttn-stretch.bttn-md {
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
}
.bttn-stretch.bttn-lg {
  padding: 8px 15px;
  font-size: 24px;
  font-family: inherit;
}
.bttn-stretch.bttn-default {
  color: #fff;
}
.bttn-stretch.bttn-primary {
  color: #1d89ff;
}
.bttn-stretch.bttn-warning {
  color: #feab3a;
}
.bttn-stretch.bttn-danger {
  color: #ff5964;
}
.bttn-stretch.bttn-success {
  color: #28b78d;
}
.bttn-stretch.bttn-royal {
  color: #bd2df5;
}
.bttn-jelly {
  margin: 0;
  padding: 0;
  outline: none;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
  background: #fff;
  border-radius: 50px;
  color: #1d89ff;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.bttn-jelly:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: currentColor;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -1;
  border-radius: 50px;
  transform: scale(0.2);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.bttn-jelly:hover,
.bttn-jelly:focus {
  outline: none;
  box-shadow: 0 1px 8px rgba(58,51,53,0.4);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: scale(1.1);
}
.bttn-jelly:hover:before,
.bttn-jelly:focus:before {
  transform: scale(1);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 0.15;
}
.bttn-jelly.bttn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: inherit;
}
.bttn-jelly.bttn-xs:hover,
.bttn-jelly.bttn-xs:focus {
  box-shadow: 0 1px 4px rgba(58,51,53,0.4);
}
.bttn-jelly.bttn-sm {
  padding: 4px 10px;
  font-size: 16px;
  font-family: inherit;
}
.bttn-jelly.bttn-sm:hover,
.bttn-jelly.bttn-sm:focus {
  box-shadow: 0 1px 6px rgba(58,51,53,0.4);
}
.bttn-jelly.bttn-md {
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
}
.bttn-jelly.bttn-md:hover,
.bttn-jelly.bttn-md:focus {
  box-shadow: 0 1px 8px rgba(58,51,53,0.4);
}
.bttn-jelly.bttn-lg {
  padding: 8px 15px;
  font-size: 24px;
  font-family: inherit;
}
.bttn-jelly.bttn-lg:hover,
.bttn-jelly.bttn-lg:focus {
  box-shadow: 0 1px 10px rgba(58,51,53,0.4);
}
.bttn-jelly.bttn-default {
  background: #fff;
  color: #1d89ff;
}
.bttn-jelly.bttn-primary {
  background: #1d89ff;
  color: #fff;
}
.bttn-jelly.bttn-warning {
  background: #feab3a;
  color: #fff;
}
.bttn-jelly.bttn-danger {
  background: #ff5964;
  color: #fff;
}
.bttn-jelly.bttn-success {
  background: #28b78d;
  color: #fff;
}
.bttn-jelly.bttn-royal {
  background: #bd2df5;
  color: #fff;
}
.bttn-fill {
  margin: 0;
  padding: 0;
  outline: none;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
  background: #fff;
  color: #1d89ff;
  border: none;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.bttn-fill:before {
  position: absolute;
  content: '';
  width: 0;
  height: 100%;
  background: #1d89ff;
  left: 50%;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  transition: left 0.15s ease-out, opacity 0.15s ease-out, width 0.15s ease-out;
}
.bttn-fill:hover,
.bttn-fill:focus {
  color: #fff;
  outline: none;
  box-shadow: 0 1px 8px rgba(58,51,53,0.8);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.bttn-fill:hover:before,
.bttn-fill:focus:before {
  left: 0;
  opacity: 1;
  width: 100%;
  transition: left 0.2s ease-in, opacity 0.2s ease-in, width 0.2s ease-in;
}
.bttn-fill.bttn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: inherit;
}
.bttn-fill.bttn-xs:hover,
.bttn-fill.bttn-xs:focus {
  box-shadow: 0 1px 4px rgba(58,51,53,0.8);
}
.bttn-fill.bttn-sm {
  padding: 4px 10px;
  font-size: 16px;
  font-family: inherit;
}
.bttn-fill.bttn-sm:hover,
.bttn-fill.bttn-sm:focus {
  box-shadow: 0 1px 6px rgba(58,51,53,0.8);
}
.bttn-fill.bttn-md {
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
}
.bttn-fill.bttn-md:hover,
.bttn-fill.bttn-md:focus {
  box-shadow: 0 1px 8px rgba(58,51,53,0.8);
}
.bttn-fill.bttn-lg {
  padding: 8px 15px;
  font-size: 24px;
  font-family: inherit;
}
.bttn-fill.bttn-lg:hover,
.bttn-fill.bttn-lg:focus {
  box-shadow: 0 1px 10px rgba(58,51,53,0.8);
}
.bttn-fill.bttn-default {
  background: #fff;
  color: #1d89ff;
}
.bttn-fill.bttn-default:before {
  background: #1d89ff;
}
.bttn-fill.bttn-primary {
  background: #1d89ff;
  color: #fff;
}
.bttn-fill.bttn-primary:hover,
.bttn-fill.bttn-primary:focus {
  color: #1d89ff;
}
.bttn-fill.bttn-primary:before {
  background: #fff;
}
.bttn-fill.bttn-warning {
  background: #feab3a;
  color: #fff;
}
.bttn-fill.bttn-warning:hover,
.bttn-fill.bttn-warning:focus {
  color: #feab3a;
}
.bttn-fill.bttn-warning:before {
  background: #fff;
}
.bttn-fill.bttn-danger {
  background: #ff5964;
  color: #fff;
}
.bttn-fill.bttn-danger:hover,
.bttn-fill.bttn-danger:focus {
  color: #ff5964;
}
.bttn-fill.bttn-danger:before {
  background: #fff;
}
.bttn-fill.bttn-success {
  background: #28b78d;
  color: #fff;
}
.bttn-fill.bttn-success:hover,
.bttn-fill.bttn-success:focus {
  color: #28b78d;
}
.bttn-fill.bttn-success:before {
  background: #fff;
}
.bttn-fill.bttn-royal {
  background: #bd2df5;
  color: #fff;
}
.bttn-fill.bttn-royal:hover,
.bttn-fill.bttn-royal:focus {
  color: #bd2df5;
}
.bttn-fill.bttn-royal:before {
  background: #fff;
}
.bttn-material-circle {
  margin: 0;
  padding: 0;
  outline: none;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
  border-width: 0;
  border-radius: 50%;
  background: #fff;
  color: #1d89ff;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.18), 0 1px 5px 0 rgba(0,0,0,0.15);
  transition: all 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.bttn-material-circle:hover,
.bttn-material-circle:focus {
  transition: box-shadow 0.4s ease-out;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.bttn-material-circle.bttn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: inherit;
  width: 28px;
  height: 28px;
  line-height: 24px;
}
.bttn-material-circle.bttn-sm {
  padding: 4px 10px;
  font-size: 16px;
  font-family: inherit;
  width: 36px;
  height: 36px;
  line-height: 30px;
}
.bttn-material-circle.bttn-md {
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
  width: 44px;
  height: 44px;
  line-height: 38px;
}
.bttn-material-circle.bttn-lg {
  padding: 8px 15px;
  font-size: 24px;
  font-family: inherit;
  width: 54px;
  height: 54px;
  line-height: 44px;
}
.bttn-material-circle.bttn-default {
  background: #fff;
  color: #1d89ff;
}
.bttn-material-circle.bttn-primary {
  background: #1d89ff;
  color: #fff;
}
.bttn-material-circle.bttn-warning {
  background: #feab3a;
  color: #fff;
}
.bttn-material-circle.bttn-danger {
  background: #ff5964;
  color: #fff;
}
.bttn-material-circle.bttn-success {
  background: #28b78d;
  color: #fff;
}
.bttn-material-circle.bttn-royal {
  background: #bd2df5;
  color: #fff;
}
.bttn-material-flat {
  margin: 0;
  padding: 0;
  outline: none;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
  border-width: 0;
  border-radius: 2px;
  background: #fff;
  color: #1d89ff;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.18), 0 1px 5px 0 rgba(0,0,0,0.15);
  text-transform: uppercase;
  transition: all 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.bttn-material-flat:hover,
.bttn-material-flat:focus {
  transition: box-shadow 0.4s ease-out;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.bttn-material-flat.bttn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: inherit;
}
.bttn-material-flat.bttn-sm {
  padding: 4px 10px;
  font-size: 16px;
  font-family: inherit;
}
.bttn-material-flat.bttn-md {
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
}
.bttn-material-flat.bttn-lg {
  padding: 8px 15px;
  font-size: 24px;
  font-family: inherit;
}
.bttn-material-flat.bttn-default {
  background: #fff;
  color: #1d89ff;
}
.bttn-material-flat.bttn-primary {
  background: #1d89ff;
  color: #fff;
}
.bttn-material-flat.bttn-warning {
  background: #feab3a;
  color: #fff;
}
.bttn-material-flat.bttn-danger {
  background: #ff5964;
  color: #fff;
}
.bttn-material-flat.bttn-success {
  background: #28b78d;
  color: #fff;
}
.bttn-material-flat.bttn-royal {
  background: #bd2df5;
  color: #fff;
}
