@charset "UTF-8";

/*!!
 *
 * bttn.css - https://ganapativs.github.io/bttn.css
 * Version - 0.1.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Ganapati V S(@ganapativs)
 *
 */

@import "./config/config.styl"
@import "./config/bttn-base.styl"

.bttn-block
  display block
  width 100%

.bttn-simple
  {bttnBaseStyle}
  {bttnMdSize}
  border-width: 0
  border-radius 4px;
  background cWhite - rgba(0,0,0,0.6)
  color: cWhite
  overflow hidden
  transition all 0.3s anim_func
  &:hover, &:focus
    opacity 0.75
  &.bttn-xs
    {bttnXsSize}
  &.bttn-sm
    {bttnSmSize}
  &.bttn-md
    {bttnMdSize}
  &.bttn-lg
    {bttnLgSize}
  &.bttn-default
    background cWhite - rgba(0,0,0,0.6)
  &.bttn-primary
    background cBlue
  &.bttn-warning
    background cYellow
  &.bttn-danger
    background cRedLight
  &.bttn-success
    background cGreen
  &.bttn-royal
    background cPurple

.bttn-bordered
  {bttnBaseStyle}
  {bttnMdSize}
  border: 1px solid cWhite - rgba(0, 0, 0, .6)
  border-radius 4px;
  background transparent
  color: cWhite
  overflow hidden
  transition all 0.3s anim_func
  &:hover, &:focus
    border-color cWhite - rgba(0, 0, 0, .3)
  &.bttn-xs
    {bttnXsSize}
  &.bttn-sm
    {bttnSmSize}
  &.bttn-md
    {bttnMdSize}
  &.bttn-lg
    {bttnLgSize}
  &.bttn-default
    border-color cWhite - rgba(0, 0, 0, .6)
    color: cWhite
    &:hover, &:focus
      border-color cWhite - rgba(0, 0, 0, .3)
  &.bttn-primary
    border-color cBlue - rgba(0, 0, 0, .6)
    color cBlue
    &:hover, &:focus
      border-color cBlue - rgba(0, 0, 0, .3)
  &.bttn-warning
    border-color cYellow - rgba(0, 0, 0, .6)
    color cYellow
    &:hover, &:focus
      border-color cYellow - rgba(0, 0, 0, .3)
  &.bttn-danger
    border-color cRedLight - rgba(0, 0, 0, .6)
    color cRedLight
    &:hover, &:focus
      border-color cRedLight - rgba(0, 0, 0, .3)
  &.bttn-success
    border-color cGreen - rgba(0, 0, 0, .6)
    color cGreen
    &:hover, &:focus
      border-color cGreen - rgba(0, 0, 0, .3)
  &.bttn-royal
    border-color cPurple - rgba(0, 0, 0, .6)
    color cPurple
    &:hover, &:focus
      border-color cPurple - rgba(0, 0, 0, .3)

.bttn-gradient
  @extend .bttn-simple
  color cBlue
  border-radius 100px
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0, #FFFFFF),
          color-stop(1, #d6e3ff)
  );
  background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #d6e3ff 100%);
  background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #d6e3ff 100%);
  background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #d6e3ff 100%);
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #d6e3ff 100%);
  background-image: -webkit-linear-gradient(93deg, #d6e3ff 0%, #FFFFFF 100%);
  text-shadow 0 1px 0 rgba(255, 255, 255, .25)
  &.bttn-default
    color cBlue
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #FFFFFF),
            color-stop(1, #d6e3ff)
    );
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #d6e3ff 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #d6e3ff 100%);
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #d6e3ff 100%);
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #d6e3ff 100%);
    background-image: -webkit-linear-gradient(93deg, #d6e3ff 0%, #FFFFFF 100%);
  &.bttn-primary
    color cWhite
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #00BBD4),
            color-stop(1, #3F51B5)
    );
    background-image: -o-linear-gradient(bottom, #00BBD4 0%, #3F51B5 100%);
    background-image: -moz-linear-gradient(bottom, #00BBD4 0%, #3F51B5 100%);
    background-image: -ms-linear-gradient(bottom, #00BBD4 0%, #3F51B5 100%);
    background-image: linear-gradient(to bottom, #00BBD4 0%, #3F51B5 100%);
    background-image: -webkit-linear-gradient(93deg, #3F51B5 0%, #00BBD4 100%);
  &.bttn-warning
    color cWhite
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, cYellow),
            color-stop(1, cOrange)
    );
    background-image: -o-linear-gradient(bottom, cYellow 0%, cOrange 100%);
    background-image: -moz-linear-gradient(bottom, cYellow 0%, cOrange 100%);
    background-image: -ms-linear-gradient(bottom, cYellow 0%, cOrange 100%);
    background-image: linear-gradient(to bottom, cYellow 0%, cOrange 100%);
    background-image: -webkit-linear-gradient(93deg, cOrange 0%, cYellow 100%);
  &.bttn-danger
    color cWhite
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #ff97c2),
            color-stop(1, #E91E63)
    );
    background-image: -o-linear-gradient(bottom, #ff97c2 0%, #E91E63 100%);
    background-image: -moz-linear-gradient(bottom, #ff97c2 0%, #E91E63 100%);
    background-image: -ms-linear-gradient(bottom, #ff97c2 0%, #E91E63 100%);
    background-image: linear-gradient(to bottom, #ff97c2 0%, #E91E63 100%);
    background-image: -webkit-linear-gradient(93deg, #E91E63 0%, #ff97c2 100%);
  &.bttn-success
    color cWhite
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #9CCC65),
            color-stop(1, #009688)
    );
    background-image: -o-linear-gradient(bottom, #9CCC65 0%, #009688 100%);
    background-image: -moz-linear-gradient(bottom, #9CCC65 0%, #009688 100%);
    background-image: -ms-linear-gradient(bottom, #9CCC65 0%, #009688 100%);
    background-image: linear-gradient(to bottom, #9CCC65 0%, #009688 100%);
    background-image: -webkit-linear-gradient(93deg, #009688 0%, #9CCC65 100%);
  &.bttn-royal
    color cWhite
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #9C27B0),
            color-stop(1, #512DA8)
    );
    background-image: -o-linear-gradient(bottom, #9C27B0 0%, #512DA8 100%);
    background-image: -moz-linear-gradient(bottom, #9C27B0 0%, #512DA8 100%);
    background-image: -ms-linear-gradient(bottom, #9C27B0 0%, #512DA8 100%);
    background-image: linear-gradient(to bottom, #9C27B0 0%, #512DA8 100%);
    background-image: -webkit-linear-gradient(93deg, #512DA8 0%, #9C27B0 100%);

.bttn-minimal
  {bttnBaseStyle}
  {bttnMdSize}
  border-width: 0
  border-radius 4px;
  background transparent
  color: cWhite
  overflow hidden
  transition all 0.5s anim_func
  &:after
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    width: calc(100% - 20px);
    height: 1px;
    opacity 0.65
    background: currentColor;
    transition transform 0.5s anim_func, opacity 0.5s anim_func
  &:before
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    width: calc(100% - 20px);
    height: 1px;
    opacity 0.65
    background: currentColor;
    transition transform 0.5s anim_func, opacity 0.5s anim_func
  &:hover, &:focus
    opacity 0.9
    &:after
      opacity 1
      transform translateX(-10px) rotate(0.001deg)
    &:before
      opacity 1
      transform translateX(10px) rotate(0.001deg)
  &.bttn-xs
    {bttnXsSize}
  &.bttn-sm
    {bttnSmSize}
  &.bttn-md
    {bttnMdSize}
  &.bttn-lg
    {bttnLgSize}
  &.bttn-default
    color cWhite
  &.bttn-primary
    color cBlue
  &.bttn-warning
    color cYellow
  &.bttn-danger
    color cRedLight
  &.bttn-success
    color cGreen
  &.bttn-royal
    color cPurple

.bttn-stretch
  {bttnBaseStyle}
  {bttnMdSize}
  border-width: 0
  border-radius 0;
  background transparent
  color: cWhite
  letter-spacing: 0;
  overflow hidden
  transition all 0.3s anim_func
  &:after, &:before
    content: '';
    position: absolute;
    left: 50%;
    width: 0;
    height: 1px;
    opacity 0.65
    background: currentColor;
    transition all 0.3s anim_func
  &:after
    top: 0;
  &:before
    bottom: 0;
  &:hover, &:focus
    letter-spacing: 2px;
    opacity 0.9
    transition all 0.5s anim_func
    &:after
      opacity 1
      left: 0;
      width: 100%;
      transition all 0.5s anim_func
    &:before
      opacity 1
      left: 0;
      width: 100%;
      transition all 0.5s anim_func
  &.bttn-xs
    {bttnXsSize}
  &.bttn-sm
    {bttnSmSize}
  &.bttn-md
    {bttnMdSize}
  &.bttn-lg
    {bttnLgSize}
  &.bttn-default
    color cWhite
  &.bttn-primary
    color cBlue
  &.bttn-warning
    color cYellow
  &.bttn-danger
    color cRedLight
  &.bttn-success
    color cGreen
  &.bttn-royal
    color cPurple

.bttn-jelly
  {bttnBaseStyle}
  {bttnMdSize}
  background cWhite
  border-radius 50px;
  color cBlue
  overflow hidden
  transition all 0.3s anim_func
  &:before
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: currentColor;
    left: 0;
    top: 0;
    opacity: 0;
    z-index -1
    border-radius 50px;
    transform scale(0.2)
    transition all 0.3s anim_func
  &:hover, &:focus
    outline none
    box-shadow 0 1px 8px cBlack - rgba(0, 0, 0, .6)
    transition all 0.5s anim_func
    transform scale(1.1)
    &:before
      transform scale(1)
      transition all 0.5s anim_func
      opacity: 0.15
  &.bttn-xs
    {bttnXsSize}
    &:hover, &:focus
      box-shadow 0 1px 4px cBlack - rgba(0, 0, 0, .6)
  &.bttn-sm
    {bttnSmSize}
    &:hover, &:focus
      box-shadow 0 1px 6px cBlack - rgba(0, 0, 0, .6)
  &.bttn-md
    {bttnMdSize}
    &:hover, &:focus
      box-shadow 0 1px 8px cBlack - rgba(0, 0, 0, .6)
  &.bttn-lg
    {bttnLgSize}
    &:hover, &:focus
      box-shadow 0 1px 10px cBlack - rgba(0, 0, 0, .6)
  &.bttn-default
    background cWhite
    color cBlue
  &.bttn-primary
    background cBlue
    color cWhite
  &.bttn-warning
    background cYellow
    color cWhite
  &.bttn-danger
    background cRedLight
    color cWhite
  &.bttn-success
    background cGreen
    color cWhite
  &.bttn-royal
    background cPurple
    color cWhite

.bttn-fill
  {bttnBaseStyle}
  {bttnMdSize}
  background cWhite
  color cBlue
  border none
  z-index: 0;
  overflow hidden
  transition all 0.3s anim_func
  &:before
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    background: cBlue;
    left: 50%;
    bottom: 0;
    opacity: 0;
    z-index -1
    transition left 0.15s ease-out, opacity 0.15s ease-out, width 0.15s ease-out
  &:hover, &:focus
    color cWhite
    outline none
    box-shadow 0 1px 8px cBlack - rgba(0, 0, 0, .2)
    transition all 0.5s anim_func
    &:before
      left: 0;
      opacity: 1
      width 100%
      transition left 0.2s ease-in, opacity 0.2s ease-in, width 0.2s ease-in
  &.bttn-xs
    {bttnXsSize}
    &:hover, &:focus
      box-shadow 0 1px 4px cBlack - rgba(0, 0, 0, .2)
  &.bttn-sm
    {bttnSmSize}
    &:hover, &:focus
      box-shadow 0 1px 6px cBlack - rgba(0, 0, 0, .2)
  &.bttn-md
    {bttnMdSize}
    &:hover, &:focus
      box-shadow 0 1px 8px cBlack - rgba(0, 0, 0, .2)
  &.bttn-lg
    {bttnLgSize}
    &:hover, &:focus
      box-shadow 0 1px 10px cBlack - rgba(0, 0, 0, .2)
  &.bttn-default
    background cWhite
    color cBlue
    &:before
      background: cBlue;
  &.bttn-primary
    background cBlue
    color cWhite
    &:hover, &:focus
      color cBlue
    &:before
      background: cWhite;
  &.bttn-warning
    background cYellow
    color cWhite
    &:hover, &:focus
      color cYellow
    &:before
      background: cWhite;
  &.bttn-danger
    background cRedLight
    color cWhite
    &:hover, &:focus
      color cRedLight
    &:before
      background: cWhite;
  &.bttn-success
    background cGreen
    color cWhite
    &:hover, &:focus
      color cGreen
    &:before
      background: cWhite;
  &.bttn-royal
    background cPurple
    color cWhite
    &:hover, &:focus
      color cPurple
    &:before
      background: cWhite;

.bttn-material-circle
  {bttnBaseStyle}
  {bttnMdSize}
  border-width: 0
  border-radius 50%;
  background cWhite
  color cBlue
  overflow hidden
  transform translate3d(0, 0, 0)
  box-shadow 0 2px 5px 0 rgba(0,0,0,0.18),0 1px 5px 0 rgba(0,0,0,0.15)
  transition all 0.25s anim_func
  &:hover, &:focus
    transition box-shadow 0.4s ease-out
    box-shadow 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15)
  &.bttn-xs
    {bttnXsSize}
    width: 28px;
    height: 28px;
    line-height: 24px;
  &.bttn-sm
    {bttnSmSize}
    width: 36px;
    height: 36px;
    line-height: 30px;
  &.bttn-md
    {bttnMdSize}
    width: 44px;
    height: 44px;
    line-height: 38px;
  &.bttn-lg
    {bttnLgSize}
    width: 54px;
    height: 54px;
    line-height: 44px;
  &.bttn-default
    background cWhite
    color cBlue
  &.bttn-primary
    background cBlue
    color cWhite
  &.bttn-warning
    background cYellow
    color cWhite
  &.bttn-danger
    background cRedLight
    color cWhite
  &.bttn-success
    background cGreen
    color cWhite
  &.bttn-royal
    background cPurple
    color cWhite

.bttn-material-flat
  {bttnBaseStyle}
  {bttnMdSize}
  border-width: 0
  border-radius 2px
  background cWhite
  color cBlue
  overflow hidden
  transform translate3d(0, 0, 0)
  box-shadow 0 2px 5px 0 rgba(0,0,0,0.18),0 1px 5px 0 rgba(0,0,0,0.15)
  text-transform uppercase
  transition all 0.25s anim_func
  &:hover, &:focus
    transition box-shadow 0.4s ease-out
    box-shadow 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15)
  &.bttn-xs
    {bttnXsSize}
  &.bttn-sm
    {bttnSmSize}
  &.bttn-md
    {bttnMdSize}
  &.bttn-lg
    {bttnLgSize}
  &.bttn-default
    background cWhite
    color cBlue
  &.bttn-primary
    background cBlue
    color cWhite
  &.bttn-warning
    background cYellow
    color cWhite
  &.bttn-danger
    background cRedLight
    color cWhite
  &.bttn-success
    background cGreen
    color cWhite
  &.bttn-royal
    background cPurple
    color cWhite