.bttn-default {
  color: #fff;
}
.bttn-primary,
.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-xs {
  color: #1d89ff;
}
.bttn-warning {
  color: #ffb85f;
}
.bttn-danger {
  color: #ff5964;
}
.bttn-success {
  color: #28b78d;
}
.bttn-royal {
  color: #bd2df5;
}
.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-xs {
  margin: 0;
  padding: 0;
  outline: none;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
}
.bttn-lg {
  padding: 8px 15px;
  font-size: 24px;
  font-family: inherit;
}
.bttn-md {
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
}
.bttn-sm {
  padding: 4px 10px;
  font-size: 16px;
  font-family: inherit;
}
.bttn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: inherit;
}
.bttn-jelly {
  margin: 0;
  padding: 0;
  outline: none;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
  border: 1px solid currentColor;
  border-radius: 50px;
  color: currentColor;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.bttn-jelly:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: currentColor;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -1;
  border-radius: 50px;
  transform: scale(0.8);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.bttn-jelly:hover,
.bttn-jelly:focus {
  outline: none;
  border-color: currentColor;
  box-shadow: 0 1px 8px rgba(58,51,53,0.6);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: scale(1.1);
}
.bttn-jelly:hover:before,
.bttn-jelly:focus:before {
  transform: scale(1);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 0.2;
}
.bttn-jelly.bttn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: inherit;
}
.bttn-jelly.bttn-xs:hover,
.bttn-jelly.bttn-xs:focus {
  box-shadow: 0 1px 4px rgba(58,51,53,0.6);
}
.bttn-jelly.bttn-sm {
  padding: 4px 10px;
  font-size: 16px;
  font-family: inherit;
}
.bttn-jelly.bttn-sm:hover,
.bttn-jelly.bttn-sm:focus {
  box-shadow: 0 1px 6px rgba(58,51,53,0.6);
}
.bttn-jelly.bttn-md {
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
}
.bttn-jelly.bttn-md:hover,
.bttn-jelly.bttn-md:focus {
  box-shadow: 0 1px 8px rgba(58,51,53,0.6);
}
.bttn-jelly.bttn-lg {
  padding: 8px 15px;
  font-size: 24px;
  font-family: inherit;
}
.bttn-jelly.bttn-lg:hover,
.bttn-jelly.bttn-lg:focus {
  box-shadow: 0 1px 10px rgba(58,51,53,0.6);
}
.bttn-simple {
  margin: 0;
  padding: 0;
  outline: none;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
  border-width: 0;
  border-radius: 4px;
  background: rgba(255,255,255,0.4);
  color: #fff;
  overflow: hidden;
}
.bttn-simple:hover,
.bttn-simple:focus {
  opacity: 0.9;
}
.bttn-simple.bttn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: inherit;
}
.bttn-simple.bttn-sm {
  padding: 4px 10px;
  font-size: 16px;
  font-family: inherit;
}
.bttn-simple.bttn-md {
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
}
.bttn-simple.bttn-lg {
  padding: 8px 15px;
  font-size: 24px;
  font-family: inherit;
}
.bttn-simple.bttn-default {
  background: rgba(255,255,255,0.4);
}
.bttn-simple.bttn-primary {
  background: #1d89ff;
}
.bttn-simple.bttn-warning {
  background: #ffb85f;
}
.bttn-simple.bttn-danger {
  background: #ff5964;
}
.bttn-simple.bttn-success {
  background: #28b78d;
}
.bttn-simple.bttn-royal {
  background: #bd2df5;
}
