.bttn-float
  {bttnBaseStyle}
  {bttnMdSize}
  overflow hidden
  border: 1px dotted cWhite;
  border-radius 4px
  background cWhite - rgba(0, 0, 0, 0.6)
  color: cWhite
  transition transform 0.3s anim_func, opacity 0.3s anim_func, box-shadow 0.2s anim_func
  &:hover, &:focus
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.16);
    opacity 0.85
    transition transform 0.2s anim_func, opacity 0.2s anim_func, box-shadow 0.4s anim_func
  &.bttn-xs
    {bttnXsSize}
    &:hover, &:focus
      transform: translateY(-6px);
  &.bttn-sm
    {bttnSmSize}
    &:hover, &:focus
      transform: translateY(-8px);
  &.bttn-md
    {bttnMdSize}
    &:hover, &:focus
      transform: translateY(-10px);
  &.bttn-lg
    {bttnLgSize}
    &:hover, &:focus
      transform: translateY(-12px);
  &.bttn-default
    border-color cWhite
    background cWhite - rgba(0, 0, 0, 0.6)
    color cWhite
  &.bttn-primary
    border-color cBlue
    background cBlue - rgba(0, 0, 0, 0.6)
    color cBlue
  &.bttn-warning
    border-color cYellow
    background cYellow - rgba(0, 0, 0, 0.6)
    color cYellow
  &.bttn-danger
    border-color cRedLight
    background cRedLight - rgba(0, 0, 0, 0.6)
    color cRedLight
  &.bttn-success
    border-color cGreen
    background cGreen - rgba(0, 0, 0, 0.6)
    color cGreen
  &.bttn-royal
    border-color cPurple
    background cPurple - rgba(0, 0, 0, 0.6)
    color cPurple