.bttn-gradient
  @extend .bttn-simple
  border-radius 100px
  background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0, #FFFFFF),
          color-stop(1, #d6e3ff)
  )
  background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #d6e3ff 100%);
  background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #d6e3ff 100%);
  background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #d6e3ff 100%);
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #d6e3ff 100%);
  background-image: -webkit-linear-gradient(93deg, #d6e3ff 0%, #FFFFFF 100%);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  color cBlue;
  text-shadow 0 1px 0 rgba(255, 255, 255, .25)
  &.bttn-default
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #FFFFFF),
            color-stop(1, #d6e3ff)
    )
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #d6e3ff 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #d6e3ff 100%);
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #d6e3ff 100%);
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #d6e3ff 100%);
    background-image: -webkit-linear-gradient(93deg, #d6e3ff 0%, #FFFFFF 100%);
    color cBlue;
  &.bttn-primary
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #00BBD4),
            color-stop(1, #3F51B5)
    )
    background-image: -o-linear-gradient(bottom, #00BBD4 0%, #3F51B5 100%);
    background-image: -moz-linear-gradient(bottom, #00BBD4 0%, #3F51B5 100%);
    background-image: -ms-linear-gradient(bottom, #00BBD4 0%, #3F51B5 100%);
    background-image: linear-gradient(to bottom, #00BBD4 0%, #3F51B5 100%);
    background-image: -webkit-linear-gradient(93deg, #3F51B5 0%, #00BBD4 100%);
    color cWhite;
  &.bttn-warning
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, cYellow),
            color-stop(1, cOrange)
    )
    background-image: -o-linear-gradient(bottom, cYellow 0%, cOrange 100%);
    background-image: -moz-linear-gradient(bottom, cYellow 0%, cOrange 100%);
    background-image: -ms-linear-gradient(bottom, cYellow 0%, cOrange 100%);
    background-image: linear-gradient(to bottom, cYellow 0%, cOrange 100%);
    background-image: -webkit-linear-gradient(93deg, cOrange 0%, cYellow 100%);
    color cWhite;
  &.bttn-danger
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #ff97c2),
            color-stop(1, #E91E63)
    )
    background-image: -o-linear-gradient(bottom, #ff97c2 0%, #E91E63 100%);
    background-image: -moz-linear-gradient(bottom, #ff97c2 0%, #E91E63 100%);
    background-image: -ms-linear-gradient(bottom, #ff97c2 0%, #E91E63 100%);
    background-image: linear-gradient(to bottom, #ff97c2 0%, #E91E63 100%);
    background-image: -webkit-linear-gradient(93deg, #E91E63 0%, #ff97c2 100%);
    color cWhite;
  &.bttn-success
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #9CCC65),
            color-stop(1, #009688)
    )
    background-image: -o-linear-gradient(bottom, #9CCC65 0%, #009688 100%);
    background-image: -moz-linear-gradient(bottom, #9CCC65 0%, #009688 100%);
    background-image: -ms-linear-gradient(bottom, #9CCC65 0%, #009688 100%);
    background-image: linear-gradient(to bottom, #9CCC65 0%, #009688 100%);
    background-image: -webkit-linear-gradient(93deg, #009688 0%, #9CCC65 100%);
    color cWhite;
  &.bttn-royal
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #9C27B0),
            color-stop(1, #512DA8)
    )
    background-image: -o-linear-gradient(bottom, #9C27B0 0%, #512DA8 100%);
    background-image: -moz-linear-gradient(bottom, #9C27B0 0%, #512DA8 100%);
    background-image: -ms-linear-gradient(bottom, #9C27B0 0%, #512DA8 100%);
    background-image: linear-gradient(to bottom, #9C27B0 0%, #512DA8 100%);
    background-image: -webkit-linear-gradient(93deg, #512DA8 0%, #9C27B0 100%);
    color cWhite;