.bttn-pill
  {bttnBaseStyle}
  {bttnMdSize}
  z-index: 0
  overflow hidden
  border none
  border-radius 100px;
  background cWhite
  color cBlue
  transition all 0.3s anim_func
  &:before, &:after
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: cBlue;
    content: '';
    opacity 0;
    transition transform 0.15s anim_func, opacity 0.15s anim_func
    z-index -1
    transform: translate(100%, -25%) translate3d(0, 0, 0)
  &:hover, &:focus
    box-shadow 0 1px 8px cBlack - rgba(0, 0, 0, .7)
    color cWhite
    transition all 0.5s anim_func
    transform: scale(1.1) translate3d(0, 0, 0)
    &:before
      opacity 0.15;
      transition transform 0.2s anim_func, opacity 0.2s anim_func
      transform: translate3d(50%, 0, 0) scale(.9)
    &:after
      opacity 0.25;
      transition transform 0.2s 0.05s anim_func, opacity 0.2s 0.05s anim_func
      transform: translate(50%, 0) scale(1.1)
  &.bttn-xs
    {bttnXsSize}
    &:hover, &:focus
      box-shadow 0 1px 4px cBlack - rgba(0, 0, 0, .7)
  &.bttn-sm
    {bttnSmSize}
    &:hover, &:focus
      box-shadow 0 1px 6px cBlack - rgba(0, 0, 0, .7)
  &.bttn-md
    {bttnMdSize}
    &:hover, &:focus
      box-shadow 0 1px 8px cBlack - rgba(0, 0, 0, .7)
  &.bttn-lg
    {bttnLgSize}
    &:hover, &:focus
      box-shadow 0 1px 10px cBlack - rgba(0, 0, 0, .7)
  &.bttn-default
    background cWhite
    color cBlue
    &:hover, &:focus
      color cBlue
    &:before, &:after
      background: cBlue;
  &.bttn-primary
    background cBlue
    color cWhite
    &:hover, &:focus
      color cWhite
    &:before, &:after
      background: cWhite;
  &.bttn-warning
    background cYellow
    color cWhite
    &:hover, &:focus
      color cWhite
    &:before, &:after
      background: cWhite;
  &.bttn-danger
    background cRedLight
    color cWhite
    &:hover, &:focus
      color cWhite
    &:before, &:after
      background: cWhite;
  &.bttn-success
    background cGreen
    color cWhite
    &:hover, &:focus
      color cWhite
    &:before, &:after
      background: cWhite;
  &.bttn-royal
    background cPurple
    color cWhite
    &:hover, &:focus
      color cWhite
    &:before, &:after
      background: cWhite;