.bttn-simple
  {bttnBaseStyle}
  {bttnMdSize}
  overflow hidden
  border-width: 0;
  border-radius 4px
  background cWhite - rgba(0, 0, 0, 0.6)
  color: cWhite
  transition all 0.3s anim_func
  &:hover, &:focus
    opacity 0.75
  &.bttn-xs
    {bttnXsSize}
  &.bttn-sm
    {bttnSmSize}
  &.bttn-md
    {bttnMdSize}
  &.bttn-lg
    {bttnLgSize}
  &.bttn-default
    background cWhite - rgba(0, 0, 0, 0.6)
  &.bttn-primary
    background cBlue
  &.bttn-warning
    background cYellow
  &.bttn-danger
    background cRedLight
  &.bttn-success
    background cGreen
  &.bttn-royal
    background cPurple