/* Colors palette */
cWhite = #ffffff
cClean = #fafafa
cBlue = #1d89ff
cDarkBlue = #1b1838
cYellow = #feab3a
cRed = #E62739
cRedLight = #FF5964
cOrange = #f35626
cGreen = #28B78D
cBlack = #3A3335
cGrey = #3f4c6b
cLightGrey = #cccccc
cDarkGrey = #283450
cBlackLight = #403E44
cPurple = #bd2df5

/* Default animation function */
anim_func = cubic-bezier(.02, .01, .47, 1)

/* Font size */
fontLight = 300
fontNormal = 400
fontBold = 700