@import "../config/config.styl"

body
  border 0
  padding 0
  margin 0
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
  color cWhite
  background: cDarkBlue;
  font-family: 'Quicksand', sans-serif;
  a
    text-decoration: none;
    color: currentColor;

.bttn-logo-box
  background: cGreen; /* Old browsers */
  background: -moz-linear-gradient(top,  cGreen 0%, cGreen - rgba(0, 0, 0, .4) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  cGreen 0%,cGreen - rgba(0, 0, 0, .4) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  cGreen 0%,cGreen - rgba(0, 0, 0, .4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: fixed;
  height: 360px;
  width: calc(100% + 20px);
  left: 0;
  top: 0;
  z-index: -3;
  .bttn-jelly
    font-size 60px
    padding: 4px 30px;
    border-radius: 40px;
    margin: 50px 10px 0 0;
    font-weight fontBold
  h4
    font-weight fontBold
    margin-bottom 45px
  .download-options
    .download-bttn
      button
        margin 0 10px
        font-weight fontBold
  .author
    margin-bottom 50px
    padding-top: 20px;
    button
      padding 4px

.go-top
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index 100
  transform scale(0.8)
  opacity 0
  transition all 0.3s anim_func
  &.active
    transform scale(1)
    opacity 1

.fancy-box-wrapper
  margin-top: 360px;
  padding-top: 1px;
  position relative
  &:before
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: cDarkBlue;
    z-index: -2;

.fancy-box
  margin: 50px auto;
  max-width: 1200px;
  .bttn-size
    transition all 0.3s anim_func
    color: currentColor;
    font-size: 80%;
    margin: 0 0 10px 0
    font-family: 'courier';
    opacity: 0.7;
    font-weight: fontBold;
  .fancy-box-buttons
    padding: 0;
    > .item
      position relative
      padding: 20px 0;
      &:before
        transition all 0.3s anim_func
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: currentColor;
        left: 0;
        top: 0;
        opacity: 0.1;
        z-index -1
      &:nth-child(1)
        &:before
          opacity: 0.15;
      &:nth-child(2)
        &:before
          opacity: 0.2;
      &:nth-child(3)
        &:before
          opacity: 0.25;
      &:nth-child(4)
        &:before
          opacity: 0.3;
      .code-copy
        position: absolute;
        right: 5px;
        bottom: 5px;
        font-weight: fontBold;
        font-size: 10px;
        padding: 2px 4px;
        border-radius: 2px;
        cursor pointer
        overflow hidden
        opacity 0
        transform rotate(0.001deg) translateY(6px)
        transition all 0.3s anim_func
        &:before
          transition all 0.3s anim_func
          position: absolute;
          content: '';
          width: 100%;
          border-radius: 2px;
          height: 100%;
          background: currentColor;
          left: 0;
          top: 0;
          opacity: 0.2;
          z-index -1
      &:hover
        .code-copy
          opacity 1
          transition all 1s anim_func
          transform rotate(0.001deg) translateY(0)
  .fancy-box-title
    text-align left
    padding: 20px 40px;
    position: relative;
    margin: 0 15px;
    &:before
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      transition all 0.3s anim_func
      background: currentColor;
      left: 0;
      top: 0;
      opacity: 0.1;
      z-index -1
  .colors
    float right
    > .color
      transition transform 0.15s ease-out
      cursor pointer
      width 20px
      height 20px
      float left
      margin 5px 10px
      border-radius: 50%;
      transform: scale(0.8);
      &.active
        border-radius 50% 2px 50% 50%
      &:last-child
        margin-right 0
    &:hover
      > .color
        &:not(.active)
          &:hover
            transform: scale(0.9);
        &.active
          transform scale(1)
          border-radius 50% 2px 50% 50%
          z-index: 1;


@media screen and (min-width: 768px)
  .colors
    > .color
      &.active
        &:before
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          background: currentColor;
          transition all 0.1s ease-in
          transform: translateX(7.5px) translateY(-20px) rotate(45deg);
          border-radius: 50% 50% 0 50%;
      &:nth-child(1)
        transform scale(0.8) translateX(215px)
      &:nth-child(2)
        transform scale(0.8) translateX(172px)
      &:nth-child(3)
        transform scale(0.8) translateX(129px)
      &:nth-child(4)
        transform scale(0.8) translateX(86px)
      &:nth-child(5)
        transform scale(0.8) translateX(43px)
    &:hover
      > .color
        &:nth-child(1)
          transform scale(0.8) translateX(0)
        &:nth-child(2)
          transform scale(0.8) translateX(0)
        &:nth-child(3)
          transform scale(0.8) translateX(0)
        &:nth-child(4)
          transform scale(0.8) translateX(0)
        &:nth-child(5)
          transform scale(0.8) translateX(0)
        &:not(.active)
          &:hover
            transform: scale(0.9);
        &.active
          transform scale(1)
          border-radius 50% 2px 50% 50%
          z-index: 1;
          &:before
            transform: translateX(7.5px) translateY(-20px) rotate(45deg) scale(0);

@media screen and (max-width: 767px)
  .hidden-xs
    display none !important
  .fancy-box-wrapper
    padding 1px 15px
  .fancy-box
    .code-copy
      display none
    .colors
      float none
      margin-top 10px
      display flex
      justify-content: center;
      > .color
        transform scale(0.8) translateX(0)
        &.active
          transform scale(1)
