.bttn-float
  {bttnBaseStyle}
  {bttnMdSize}
  border: 1px dotted cWhite
  border-radius 4px;
  background cWhite - rgba(0,0,0,0.6)
  color: cWhite
  overflow hidden
  transition transform 0.3s anim_func, opacity 0.3s anim_func, box-shadow 0.2s anim_func
  &:hover, &:focus
      box-shadow: 0 30px 30px rgba(0,0,0,0.16);
      opacity 0.85
      transition transform 0.2s anim_func, opacity 0.2s anim_func, box-shadow 0.4s anim_func
  &.bttn-xs
    {bttnXsSize}
    &:hover, &:focus
        transform: translateY(-6px);
  &.bttn-sm
    {bttnSmSize}
    &:hover, &:focus
        transform: translateY(-8px);
  &.bttn-md
    {bttnMdSize}
    &:hover, &:focus
        transform: translateY(-10px);
  &.bttn-lg
    {bttnLgSize}
    &:hover, &:focus
        transform: translateY(-12px);
  &.bttn-default
    background cWhite - rgba(0,0,0,0.6)
    border-color cWhite
    color cWhite
  &.bttn-primary
    background cBlue - rgba(0,0,0,0.6)
    border-color cBlue
    color cBlue
  &.bttn-warning
    background cYellow - rgba(0,0,0,0.6)
    border-color cYellow
    color cYellow
  &.bttn-danger
    background cRedLight - rgba(0,0,0,0.6)
    border-color cRedLight
    color cRedLight
  &.bttn-success
    background cGreen - rgba(0,0,0,0.6)
    border-color cGreen
    color cGreen
  &.bttn-royal
    background cPurple - rgba(0,0,0,0.6)
    border-color cPurple
    color cPurple